node_modules
dist
build
.pnp
.pnp.js
.yarn
dist
out
production
.staging
generated
*.lock
package-lock.json
pnpm-lock.yaml
yarn.lock
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
*.local

**/target/debug